.arrows {
  display: flex;
}

.arrows > span {
  width: 24px;
  font-size: 3rem;
  color: #49494951;
  animation-name: arrow, appear;
  animation-iteration-count: infinite, 1;
  animation-duration: 1s;
}

@keyframes arrow {
  from {
    color: #49494951;
  }

  50% {
    color: #494949;
  }

  to {
    color: #49494951;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}