.footerInfo {
  padding: 8rem 0;
  background-color: var(--gray-900);
  color: var(--white);
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
}

.footerContainer {
  flex-direction: column;
  gap: 6rem;
}

.footerAbout p {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .footerContainer {
    flex-direction: row;
    gap: 3rem;
  }

  .footerAbout{
    width: 33%;
  }
}

.cvBtn {
  border-radius: 4rem;
  display: inline-block;
  background-color: #da3131;
  margin-top: 2rem;
  border: 1px solid #da3131;
}

.cvBtn:hover {
  color: #da3131;
}

.footerInfo h2 {
  margin-bottom: 1.5rem;
}

.footerInfo h2,
.footerInfo a {
  color: var(--white);
}

.footerInfo a {
  text-decoration: solid;
}

.footerContent {
  font-style: normal;
  font-size: 1.4rem;
}

.footerContent p {
  margin-bottom: 0.5rem;
}

a.wppBtn {
  display: inline-block;
  border-radius: 4rem;
  background-color: #25d366;
  border: 1px solid #25d366;
  margin-top: 2rem;
}

a.wppBtn:hover {
  color: #25d366;
}

.highlight {
  font-weight: 900;
}

.social a {
  flex-direction: column;
  text-align: center;
}

.social a span {
  margin-top: .4rem;
}

.copy {
  display: inline-block;
  padding: 1.5rem 2%;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--gray-500);
}