.swiper-slide {
  min-height: 30rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: 300ms;
}

.swiper-slide:hover {
  transform: scale(0.98);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--white);
}
