.imgContainer {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  height: 180px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}
