.swiper {
  visibility: hidden;
}

.swiper-slide {
  min-height: 30rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: 300ms;
}

.swiper-slide:hover {
  transform: scale(0.98);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--gray-900);
  animation-name: changeColors;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeColors {
  from {
    color: var(--gray-900);
  }

  to {
    color: var(--white);
  }
}
