---
import programmerGif from '/img/programmer.gif';
---

<section class="about container flex align-center">
  <div class="about-img hidden flex-5">
    <img width="450" height="300" src={programmerGif} />
  </div>
  <div class="about-info hidden flex-5 uppercase topic-text">
    <h2 class="heading-one topic-heading">Um pouco sobre mim</h2>
    <p>
      Ingressei no mundo da tecnologia com apenas 12 anos de idade, tendo
      começado como designer, concluindo cursos de Photoshop e Illustrator.
    </p>
    <p>
      Após a conclusão desses cursos, decidi entrar no mundo da programação, na
      área de desenvolvimento de jogos, tendo feito algumas cópias de jogos
      extremamente populares, como: Pac-Man, Super Mario, Zelda e outros. O fato
      de ter alguma experiência em desenvolvimento de jogos, me dá um destaque
      na visão lógica e analítica no desenvolvimento de algum projeto.
    </p>
    <p>
      Após essa minha fase no desenvolvimento de jogos, decidi experimentar
      coisas novas, e aprimorar ainda mais meu conhecimento no mundo da
      programação, decidindo ingressar na área de desenvolvimento web, a partir
      daí, me aprofundei em vários stacks da linguagem JavaScript.
    </p>
    <div class="actions">
      <a href="/pdf/curriculo.pdf" download="curriculo-victor" class="cta uppercase">Baixar CV</a>  
    </div>
  </div>
</section>
<script>
  import { elementIsVisible } from '../helpers';

  window.addEventListener('scroll', () => {
    const aboutContainer = elementIsVisible('.about');
    const aboutImg = aboutContainer?.querySelector('.about-img');
    aboutImg?.classList.add('fromLeft');
    const aboutInfo = aboutContainer?.querySelector('.about-info');
    aboutInfo?.classList.add('fromRight');
  });
</script>

<style>
  .about {
    padding: 1rem 0 4rem 0;
    gap: 1rem;
    flex-direction: column;
    overflow-y: hidden;
  }
  
  .actions {
    margin-top: 3.5rem;
  }

  .about-img img {
    filter: opacity(0.1);
    width: 100%;
    object-fit: contain;
  }

  @media (min-width: 768px) {
    .about {
      flex-direction: row;
    }
  }
</style>
