---
let showAlert = false;
---

<section class="contact container" id="contact">
  <h2 class="contact-heading topic-heading uppercase">Contato</h2>
  <form id="contact-form" method="post" novalidate autocomplete="off">
    <div class="form-control">
      <label for="name">Nome</label>
      <input
        type="text"
        placeholder="Digite seu nome completo"
        id="name"
        name="name"
        required
      />
    </div>
    <div class="form-control">
      <label for="subject">Assunto</label>
      <input
        type="text"
        placeholder="Digite o assunto"
        id="subject"
        name="subject"
        required
      />
    </div>
    <div class="form-control">
      <label for="message">Mensagem</label>
      <textarea
        placeholder="Digite sua mensagem"
        id="message"
        name="message"
        required></textarea>
    </div>
    <div class="form-actions flex justify-center align-center">
      <button class="cta uppercase" type="submit">Enviar mensagem</button>
      ou
      <a target="_blank" href="https://wa.me/5521993966088" class="cta wpp-btn">WhatsApp</a>
    </div>
  </form>
</section>
<script>
  import { showAlert, elementIsVisible } from '../helpers';

  const contactForm = document.querySelector(
    '#contact-form'
  ) as HTMLFormElement;

  const showMessage = showAlert(contactForm);

  contactForm.addEventListener('submit', e => {
    e.preventDefault();

    const [name, subject, message] = [
      document.querySelector('#name') as HTMLInputElement,
      document.querySelector('#subject') as HTMLInputElement,
      document.querySelector('#message') as HTMLInputElement
    ];

    if (
      name?.value?.trim() === '' ||
      subject?.value?.trim() === '' ||
      message?.value?.trim() === ''
    ) {
      showMessage('Todos os campos são obrigatórios');
      return;
    }

    showMessage('Seu sistema de envio de email foi aberto');
    location.href = `mailto:vsennaselei@gmail.com?subject=${subject?.value}&body=${message?.value}%0D%0DAtenciosamente, ${name?.value}
    `;
  });

  window.addEventListener('scroll', () => {
    const contactHeading = elementIsVisible('.contact h2');
    contactHeading?.classList.add('fromRight');
    const contactForm = elementIsVisible('.contact form');
    contactForm?.classList.add('fromLeft');
  });
</script>

<style>
  .contact {
    max-width: 768px;
    overflow: hidden;
  }

  .contact h2 {
    text-align: center;
    color: var(--gray-900);
    overflow: hidden;
  }

  .contact form {
    margin-top: 4rem;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 3rem;
  }

  .form-control label {
    color: var(--gray-900);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  .form-control input,
  .form-control textarea {
    padding: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px #adadad34;
    border-bottom: 1px solid transparent;
    transition: 300ms;
  }

  .form-control textarea {
    resize: vertical;
    overflow: hidden;
    word-wrap: break-word;
  }

  .form-control input:focus,
  .form-control textarea:focus {
    border-bottom-color: #49494949;
  }

  .form-actions {
    margin-top: 4rem;
    text-transform: uppercase;
    gap: 2rem;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .form-actions {
      flex-direction: row;
    }
  }

  .form-actions button {
    cursor: pointer;
  }

  a.wpp-btn {
    background-color: #25d366;
    border: 1px solid #25d366;
  }

  a.wpp-btn:hover {
    color: #25d366;
  }
</style>
