---
import ProfileImg from "./Profile";
---

<header>
  <div class="container flex space-between align-center">
    <ProfileImg />
    <nav class="menu">
      <ul class="desktop flex">
        <li><a href="/">Home</a></li>
        <li><a href="/about-me">Sobre Mim</a></li>
        <li><a href="/skills">Habilidades</a></li>
        <li><a href="/projects">Projetos</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    padding: 1rem 0;
  }
</style>
