---
import ProfileImg from './Profile';

const path = Astro.url.pathname;
---

<header>
  <div class="container flex space-between align-center">
    <ProfileImg client:only />
    <nav class="menu">
      <ul class="desktop flex">
        <li><a href="/" class={path === '/' ? 'active' : ''}>Home</a></li>
        <li>
          <a href="/about-me" class={path === '/about-me' ? 'active' : ''}
            >Sobre Mim</a>
        </li>
        <li>
          <a href="/skills" class={path === '/skills' ? 'active' : ''}
            >Habilidades</a>
        </li>
        <li>
          <a href="/projects" class={path === '/projects' ? 'active' : ''}
            >Projetos</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    height: 85px;
    padding: 1rem 0;
  }

  .menu .desktop {
    gap: 3rem;
  }

  .menu li a {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(73, 73, 73, 0.6);
    transition: 300ms;
  }

  .menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--gray-900);
    transition: 300ms;
  }

  .menu li a:hover {
    color: var(--gray-900);
  }

  .menu li a:hover::after {
    width: 100%;
  }

  .menu li .active {
    color: var(--gray-900);
  }

  .menu li .active::after {
    width: 100%;
  }
</style>
