---
---

<section class="hero">
  <div class="container flex">
    <div class="info">
      <h2 class="heading-one">myPortfolio</h2>
      <h3 class="heading-two uppercase">Oiee, me chamo Victor Seleimend!</h3>
      <p class="uppercase">
        Apaixonado por tecnologia desde cedo, comecei a programar com apenas <strong
          >13 anos</strong
        >! Desde então venho fazendo vários cursos, para aprimorar meu
        conhecimento e evoluir como profissional. Que tal me conhecer mais um
        pouco? Basta clicar no botão abaixo ;)
      </p>
    </div>
    <div class="images">
      
    </div>
  </div>
</section>

<style></style>
