---
import Slides from './Slides';
import projects from '../data/projects';
---

<section class="projects container">
  <h2 class="heading-one topic-heading">Meus projetos</h2>
  <Slides client:only projects={projects} />
</section>

<style>
  .projects {
    padding: 8rem 0;
  }

  .topic-heading {
    text-align: center;
    margin-bottom: 5rem;
  }
</style>
