<section class="projects container">
  <h2 class="heading-one topic-heading">Meus projetos</h2>
</section>

<style>
  .projects {
    padding: 6rem 0;
  }

  .topic-heading {
    text-align: center;
  }
</style>