---
import Slides from './Slides';

const projects: Array<{ title: string; content: string; src: string }> = [
  {
    title: 'Project 1',
    content:
      'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, inventore nemo vel consectetur reprehenderit atque quam accusamus repellat recusandae doloribus asperiores laboriosam, nostrum quaerat quia quos? Impedit laborum temporibus aliquam?',
    src: 'car-quoter.mp4'
  },
  {
    title: 'Project 2',
    content:
      'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, inventore nemo vel consectetur reprehenderit atque quam accusamus repellat recusandae doloribus asperiores laboriosam, nostrum quaerat quia quos? Impedit laborum temporibus aliquam?',
    src: 'car-quoter.mp4'
  },
  {
    title: 'Project 3',
    content:
      'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, inventore nemo vel consectetur reprehenderit atque quam accusamus repellat recusandae doloribus asperiores laboriosam, nostrum quaerat quia quos? Impedit laborum temporibus aliquam?',
    src: 'car-quoter.mp4'
  }
];
---

<section class="projects container">
  <h2 class="heading-one topic-heading">Meus projetos</h2>
  <Slides client:only projects={projects} />
</section>

<style>
  .projects {
    padding: 6rem 0;
  }

  .topic-heading {
    text-align: center;
  }
</style>
