---
import Slides from './Slides';

const projects: Array<{ title: string; content: string; src: string }> = [
  {
    title: 'GuitarLA Next',
    content:
      'E-Commerce criado com Next.js, CSS Modules e Context API. As requisições HTTP são enviadas para uma REST API construída no Strapi CMS.',
    src: 'guitarla-next.gif'
  },
  {
    title: 'Car Quoter',
    content:
      'Gera a cotação de um carro de acordo com o modelo, ano e tipo de plano. Desenvolvido com React, Custom Hooks e Context API.',
    src: 'car-quoter.gif'
  },
  {
    title: 'CRM-React',
    content:
      'Uma aplicação CRM desenvolvida com React, Tailwind CSS, React Router DOM (V6!) e Vite. Utilizei uma fake REST API (json-server) para realizar operações CRUD nos clientes.',
    src: 'crm-react.gif'
  },
  {
    title: 'Cryptos',
    content:
      'Aplicação que realiza a cotação de uma criptomoeda escolhida em uma moeda específica. Escrito com React, Vite, Emotion (styled-components) e Custom Hooks!',
    src: 'cryptos.gif'
  },
  {
    title: 'Drinks Searcher',
    content:
      'Um buscador de bebidas que exibe as receitas dos drinks. Desenvolvido com React, Context API, React Bootstrap e Bootstrap.',
    src: 'drinks-searcher.gif'
  },
  {
    title: 'Get-News',
    content:
      'Um buscador de artigos. Filtre por categorias e encontre as notícias mais populares. Projeto desenvolvido com React, Context API e Material-UI.',
    src: 'get-news.gif'
  },
  {
    title: 'Get-Weather',
    content:
      'Aplicação de detecção de clima através da cidade inserida no input. Desenvolvido com React e Context API.',
    src: 'get-weather.gif'
  },
  {
    title: 'GuitarLA Astro',
    content:
      'E-Commerce criado com Astro e TypeScript. As requisições HTTP são enviadas para uma REST API construída no Strapi CMS.',
    src: 'guitarla-astro.gif'
  },
  {
    title: 'Spending Control',
    content:
      'Realiza cálculos baseado no orçamento, onde é realizado operações CRUD nos gastos e um gráfico é atualizado automaticamente.',
    src: 'spending-control.gif'
  },
  {
    title: 'Kiosk App',
    content:
      'Menu online que realiza e processa pedidos, contendo um painel administrativo para gerenciar os pedidos dos clientes. Desenvolvido com Next.js, TailwindCSS, MySQL, Prisma e SWR.',
    src: 'kioskapp.gif'
  },
  {
    title: 'Vet-React',
    content:
      'Uma aplicação de adminstração de pacientes de uma clínica veterinária, com suporte a operações CRUD. Uso do localStorage para armazenar os clientes. Aplicação desenvolvida com React, Vite, Tailwind CSS e muito mais!',
    src: 'vet-react.gif'
  },
  {
    title: 'GuitarLA Remix',
    content:
      'E-Commerce criado com Remix e Context API. As requisições HTTP são enviadas para uma REST API construída no Strapi CMS.',
    src: 'guitarla-remix.gif'
  }
];
---

<section class="projects container">
  <h2 class="heading-one topic-heading">Meus projetos</h2>
  <Slides client:only projects={projects} />
</section>

<style>
  .projects {
    padding: 8rem 0;
  }

  .topic-heading {
    text-align: center;
    margin-bottom: 6rem;
  }
</style>
