---
---

<section class="skills">
  <h2 class="skills-heading topic-heading uppercase">Habilidades</h2>
  <div class="skills-container"></div>
</section>

<style>
  .skills {
    margin-top: 5rem;
    padding: 14rem 0 5rem 0;
    background-color: var(--gray-900);
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 26.67%,
      2% 26.37%,
      4% 25.5%,
      6% 24.09%,
      8% 22.2%,
      10% 19.93%,
      12% 17.37%,
      14% 14.65%,
      16% 11.88%,
      18% 9.19%,
      20% 6.7%,
      22% 4.53%,
      24% 2.78%,
      26% 1.52%,
      28% 0.81%,
      30% 0.69%,
      32% 1.16%,
      34% 2.2%,
      36% 3.75%,
      38% 5.76%,
      40% 8.13%,
      42% 10.75%,
      44% 13.5%,
      46% 16.26%,
      48% 18.9%,
      50% 21.31%,
      52% 23.36%,
      54% 24.98%,
      56% 26.08%,
      58% 26.62%,
      60% 26.56%,
      62% 25.93%,
      64% 24.73%,
      66% 23.03%,
      68% 20.91%,
      70% 18.45%,
      72% 15.78%,
      74% 13.01%,
      76% 10.28%,
      78% 7.69%,
      80% 5.38%,
      82% 3.44%,
      84% 1.97%,
      86% 1.04%,
      88% 0.67%,
      90% 0.9%,
      92% 1.7%,
      94% 3.05%,
      96% 4.89%,
      98% 7.12%,
      100% 9.65%
    );
  }

  .skills-heading {
    text-align: center;
    color: var(--white);
  }
</style>
