---
import Card from './Card.astro';
const cards: Array<{ title: string; image: string }> = [
  {
    title: 'Autodidata',
    image: 'books.svg'
  },
  {
    title: 'Inteligência emocional',
    image: 'brain.svg'
  },
  {
    title: 'Confiança',
    image: 'shield.svg'
  },
  {
    title: 'Resolução de problemas',
    image: 'cube.svg'
  },
  {
    title: 'Analítico',
    image: 'analytics.svg'
  },
  {
    title: 'Resiliência',
    image: 'resilience.svg'
  },
  {
    title: 'Criativo',
    image: 'light.svg'
  },
  {
    title: 'Empático',
    image: 'empathy.svg'
  },
  {
    title: 'Otimista',
    image: 'optimism.svg'
  },
  {
    title: 'Entusiasta',
    image: 'gym.svg'
  },
  {
    title: 'Focado',
    image: 'focus.svg'
  }
];
---

<section class="skills">
  <h2 class="skills-heading topic-heading uppercase">Habilidades</h2>
  <div class="skills-container container flex">
    <div class="hard-skills flex-5">
      <div id="bar">
        <div id="red"></div>
        <div id="yellow"></div>
        <div id="green"></div>
      </div>
      <div id="screen">
        <code class="font">root@10.0.0.1:~$ hard-skills</code>
        <samp class="font">
          <p>---- list ----</p>
          <p>Internet</p>
          <p>HTML</p>
          <p>CSS</p>
          <p>JavaScript</p>
          <p>Git</p>
          <p>GitHub</p>
          <p>npm</p>
          <p>TypeScript</p>
          <p>Vite</p>
          <p>React</p>
          <p>axios</p>
          <p>Astro</p>
          <p>Next.js</p>
          <p>SWR</p>
          <p>Remix.js</p>
          <p>Emotion</p>
          <p>Material-UI</p>
          <p>React Bootstrap</p>
          <p>Bootstrap</p>
          <p>Tailwind CSS</p>
          <p>Prisma</p>
          <p>MySQL</p>
          <p>PostgreSQL</p>
          <p>Strapi</p>
          <p>Cloudinary</p>
          <p>Deploy</p>
          <p>root@10.0.0.1:~$ <span class="cursor"></span></p>
        </samp>
      </div>
    </div>
    <div class="soft-skills flex-5">
      <h2 class="heading-two topic-heading">soft-skills</h2>
      <div class="cards">
        {cards.map(card => <Card title={card.title} image={card.image} />)}
      </div>
    </div>
  </div>
</section>

<style>
  .skills {
    padding: 4rem 0;
    background-color: var(--gray-900);
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 23.33%,
      2% 23.24%,
      4% 22.98%,
      6% 22.55%,
      8% 21.98%,
      10% 21.27%,
      12% 20.46%,
      14% 19.58%,
      16% 18.65%,
      18% 17.71%,
      20% 16.79%,
      22% 15.92%,
      24% 15.15%,
      26% 14.48%,
      28% 13.95%,
      30% 13.58%,
      32% 13.37%,
      34% 13.34%,
      36% 13.49%,
      38% 13.81%,
      40% 14.29%,
      42% 14.91%,
      44% 15.65%,
      46% 16.49%,
      48% 17.4%,
      50% 18.33%,
      52% 19.27%,
      54% 20.17%,
      56% 21.01%,
      58% 21.76%,
      60% 22.38%,
      62% 22.86%,
      64% 23.18%,
      66% 23.32%,
      68% 23.29%,
      70% 23.09%,
      72% 22.71%,
      74% 22.19%,
      76% 21.52%,
      78% 20.74%,
      80% 19.88%,
      82% 18.96%,
      84% 18.02%,
      86% 17.09%,
      88% 16.2%,
      90% 15.39%,
      92% 14.69%,
      94% 14.11%,
      96% 13.68%,
      98% 13.42%,
      100% 13.33%
    );
  }

  .skills-heading {
    text-align: center;
    color: var(--white);
    margin-top: 25rem;
  }

  .skills-container {
    margin-top: 5rem;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 768px) {
    .skills-container {
      flex-direction: row;
    }
  }

  #head {
    font-family: monospace;
    color: #fff;
    margin: auto;
    padding: 35px;
    font-size: 40px;
    text-align: center;
  }

  #bar {
    text-align: center;
    width: 100%;
    height: 25px;
    background-color: var(--white);
    margin: 0 auto;
    font-family: monospace;
    padding: 0.4rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #red {
    background-color: #e94b35;
    border-radius: 100%;
    width: 16px;
    height: 16px;
  }

  #yellow {
    background-color: #f0f000;
    border-radius: 100%;
    width: 16px;
    height: 16px;
  }

  #green {
    background-color: #1aaf5c;
    border-radius: 100%;
    width: 16px;
    height: 16px;
  }

  #screen {
    background-color: var(--gray-500);
    width: 100%;
    min-height: 450px;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    margin: 0 auto;
    padding: 1rem;
  }

  .font {
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
  }

  .cursor {
    display: inline-block;
    background-color: var(--white);
    width: 5px;
    height: 15px;
    vertical-align: bottom;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    vertical-align: middle;
  }

  @keyframes blink {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .soft-skills h2 {
    color: var(--white);
    margin-bottom: 3rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: minmax(140px, 1fr);
    gap: 1.5rem;
  }
</style>
