---
import Card from './Card.astro';
import cards from '../data/skills';
---

<section class="skills" id="skills">
  <h2 class="skills-heading topic-heading uppercase">Habilidades</h2>
  <div class="skills-container container flex">
    <div class="hard-skills flex-5">
      <div id="bar">
        <div id="red"></div>
        <div id="yellow"></div>
        <div id="green"></div>
      </div>
      <div id="screen">
        <code class="font">root@10.0.0.1:~$ hard-skills</code>
        <samp class="font">
          <p>---- list ----</p>
          <p>Internet</p>
          <p>HTML</p>
          <p>CSS</p>
          <p>JavaScript</p>
          <p>Git</p>
          <p>GitHub</p>
          <p>npm</p>
          <p>TypeScript</p>
          <p>Vite</p>
          <p>React</p>
          <p>axios</p>
          <p>Astro</p>
          <p>Next.js</p>
          <p>SWR</p>
          <p>Remix.js</p>
          <p>Emotion</p>
          <p>Material-UI</p>
          <p>React Bootstrap</p>
          <p>Bootstrap</p>
          <p>Tailwind CSS</p>
          <p>Node.js</p>
          <p>Express.js</p>
          <p>APIs</p>
          <p>MVC</p>
          <p>MongoDB</p>
          <p>Mongoose</p>
          <p>Postman</p>
          <p>Prisma</p>
          <p>MySQL</p>
          <p>PostgreSQL</p>
          <p>Strapi</p>
          <p>Cloudinary</p>
          <p>Deploy</p>
          <p>root@10.0.0.1:~$ <span class="cursor"></span></p>
        </samp>
      </div>
    </div>
    <div class="soft-skills flex-5">
      <h2 class="heading-two topic-heading">soft-skills</h2>
      <div class="cards">
        {cards.map(card => <Card title={card.title} image={card.image} />)}
      </div>
    </div>
  </div>
</section>
<script>
  import { elementIsVisible } from '../helpers';

  window.addEventListener('scroll', () => {
    const hardSkills = elementIsVisible('.hard-skills');
    hardSkills?.classList.add('fromLeft');
    const softSkills = elementIsVisible('.soft-skills');
    softSkills?.classList.add('fromRight');

    const skills = elementIsVisible('.skills');
    const skillsHeading = skills?.querySelector('.skills-heading');
    skillsHeading?.classList.add('opacity');
  });
</script>

<style>
  .skills {
    margin-top: 5rem;
    padding: 4rem 0;
    background-color: var(--gray-900);
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 5.63%,
      2% 5.59%,
      4% 5.49%,
      6% 5.33%,
      8% 5.12%,
      10% 4.85%,
      12% 4.55%,
      14% 4.22%,
      16% 3.87%,
      18% 3.52%,
      20% 3.17%,
      22% 2.85%,
      24% 2.55%,
      26% 2.31%,
      28% 2.11%,
      30% 1.97%,
      32% 1.89%,
      34% 1.88%,
      36% 1.93%,
      38% 2.05%,
      40% 2.23%,
      42% 2.47%,
      44% 2.75%,
      46% 3.06%,
      48% 3.4%,
      50% 3.75%,
      52% 4.1%,
      54% 4.44%,
      56% 4.75%,
      58% 5.03%,
      60% 5.27%,
      62% 5.45%,
      64% 5.57%,
      66% 5.62%,
      68% 5.61%,
      70% 5.53%,
      72% 5.39%,
      74% 5.19%,
      76% 4.95%,
      78% 4.65%,
      80% 4.33%,
      82% 3.98%,
      84% 3.63%,
      86% 3.28%,
      88% 2.95%,
      90% 2.65%,
      92% 2.38%,
      94% 2.17%,
      96% 2.01%,
      98% 1.91%,
      100% 1.88%
    );
  }

  .skills-heading {
    opacity: 0;
    margin-top: 14rem;
    text-align: center;
    color: var(--white);
  }

  .skills-container {
    margin-top: 5rem;
    gap: 2rem;
    flex-direction: column;
  }

  @media (min-width: 1444px) {
    .skills-container {
      flex-direction: row;
    }

    .skills {
      clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 10.5%,
        2% 10.42%,
        4% 10.2%,
        6% 9.83%,
        8% 9.33%,
        10% 8.71%,
        12% 8.01%,
        14% 7.24%,
        16% 6.44%,
        18% 5.62%,
        20% 4.83%,
        22% 4.08%,
        24% 3.4%,
        26% 2.83%,
        28% 2.37%,
        30% 2.05%,
        32% 1.87%,
        34% 1.84%,
        36% 1.97%,
        38% 2.25%,
        40% 2.66%,
        42% 3.2%,
        44% 3.84%,
        46% 4.57%,
        48% 5.35%,
        50% 6.17%,
        52% 6.98%,
        54% 7.76%,
        56% 8.49%,
        58% 9.13%,
        60% 9.67%,
        62% 10.09%,
        64% 10.36%,
        66% 10.49%,
        68% 10.47%,
        70% 10.29%,
        72% 9.96%,
        74% 9.51%,
        76% 8.93%,
        78% 8.25%,
        80% 7.51%,
        82% 6.71%,
        84% 5.89%,
        86% 5.09%,
        88% 4.32%,
        90% 3.62%,
        92% 3.01%,
        94% 2.51%,
        96% 2.14%,
        98% 1.91%,
        100% 1.83%
      );
    }
  }

  #head {
    font-family: monospace;
    color: #fff;
    margin: auto;
    padding: 35px;
    font-size: 40px;
    text-align: center;
  }

  #bar {
    text-align: center;
    width: 100%;
    height: 25px;
    background-color: var(--white);
    margin: 0 auto;
    font-family: monospace;
    padding: 0.4rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #red {
    background-color: #e94b35;
    border-radius: 100%;
    width: 16px;
    height: 16px;
  }

  #yellow {
    background-color: #f0f000;
    border-radius: 100%;
    width: 16px;
    height: 16px;
  }

  #green {
    background-color: #1aaf5c;
    border-radius: 100%;
    width: 16px;
    height: 16px;
  }

  #screen {
    background-color: var(--gray-500);
    width: 100%;
    max-height: 520px;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    margin: 0 auto;
    padding: 1rem;
    overflow-y: scroll;
  }

  .font {
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
  }

  .cursor {
    display: inline-block;
    background-color: var(--white);
    width: 5px;
    height: 15px;
    vertical-align: bottom;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    vertical-align: middle;
  }

  
  @keyframes blink {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .soft-skills h2 {
    color: var(--white);
    margin-bottom: 3rem;
    padding-left: 1rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: minmax(140px, 1fr);
    gap: 1.5rem;
    padding: 0 1rem 1rem 0;
  }

  .soft-skills,
  .hard-skills {
    padding: 0.7rem;
    visibility: hidden;
  }
</style>
