---
import Header from '../components/Header.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  @import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Montserrat:wght@500;700&display=swap');

  :root {
    --gray-900: #171717;
    --gray-500: #2e2e2e;
    --gray-200: #494949;
    --white: #d9d9d9;
  }

  html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
  }

  body {
    background: linear-gradient(to left, #d7d7d7, #f5f5f5);
    min-height: 100vh;
  }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: initial;
  }

  .heading-one {
    font-weight: 700;
		color: var(--gray-900);
    text-transform: uppercase;
    font-size: 3rem;
  }

  .heading-two {
    font-weight: 700;
		color: var(--gray-500);
    font-size: 2.2rem;
  }

  .container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
  }

  .flex {
    display: flex;
  }

  .space-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .align-center {
    align-items: center;
  }
</style>
