---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Montserrat:wght@300;500;700&display=swap');

  html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
  }

	body {
		background: linear-gradient(to left, rgb(215 215 215), rgb(245 245 245));
		min-height: 100vh;
	}

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

	.container {
		max-width: 1280px;
		width: 90%;
		margin: 0 auto;
	}

	.flex {
		display: flex;
	}
</style>
