---
import Header from '../components/Header';
import Footer from '../components/Footer';

export interface Props {
  title: string;
}

const { title } = Astro.props;
const path = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header path={path} client:only />
    <div class="move">
      <slot />
      <Footer client:only />
    </div>
  </body>
</html>
<style is:global>
  @import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

  :root {
    --gray-900: #171717;
    --gray-500: #2e2e2e;
    --gray-200: #494949;
    --white: #d7d7d7;
  }

  html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
  }

  body {
    background: linear-gradient(to left, #d7d7d7, #f5f5f5);
    min-height: 100vh;
  }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: var(--white);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(23, 23, 23, 0.5);
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: initial;
  }

  .move {
    position: relative;
    top: 85px;
  }

  .heading-one {
    font-weight: 700;
    color: var(--gray-900);
    text-transform: uppercase;
    font-size: 3rem;
  }

  .heading-two {
    font-weight: 700;
    color: var(--gray-500);
    font-size: 2.2rem;
  }

  .topic-heading {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }

  .topic-text > p {
    font-size: 1.3rem;
    margin-top: 1rem;
    color: var(--gray-200);
  }

  .cta {
    background-color: var(--gray-900);
    color: #d7d7d7;
    padding: 1.5rem 3rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    transition: 300ms;
    border: 1px solid var(--gray-900);
    font-weight: 900;
    letter-spacing: 1px;
  }

  .cta:hover {
    background-color: transparent;
    color: var(--gray-900);
  }

  .container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
  }

  .flex {
    display: flex;
  }

  .flex-5 {
    flex: 100%;
  }

  @media (min-width: 768px) {
    .flex-5 {
      flex: 50%;
    }
  }

  .space-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .align-center {
    align-items: center;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .hidden {
    visibility: hidden;
  }

  .gap-1-2 {
    gap: 1.5rem;
  }

  .fromLeft {
    position: relative;
    animation-iteration-count: 1;
    animation-name: fromLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .fromRight {
    position: relative;
    animation-iteration-count: 1;
    animation-name: fromRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .opacity {
    animation-name: isVisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  @keyframes isVisible {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fromLeft {
    from {
      left: -100%;
    }

    to {
      left: 0;
      visibility: visible;
    }
  }

  @keyframes fromRight {
    from {
      left: 100%;
    }

    to {
      left: 0;
      visibility: visible;
    }
  }

  input,
  textarea {
    all: unset;
  }
</style>
